* {
    margin: 0;
    padding: 0;
}

header {
    background-image: url(../img/mobail.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    padding: 5% 5%;
}

header p {
    color: white;
}

#Catchphrase {
    text-align: center;
    /* padding-top: 10%; */
    padding-top: 15%;
}