* {
    margin: 0;
    padding: 0;
}

header {
    background-image: url(../img/mobail.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 420px;
    /* background-size: cover;
padding-bottom: 50.2%; */
}

#title1 {
    color: rgb(255, 255, 255);
    padding-left: 40px;
    padding-top: 20px;
    font-size: 20px;
}

#title2 {
    color: rgb(255, 255, 255);
    padding-left: 160px;
    padding-top: 70px;
    font-size: 20px;
}

.Heading {
    font-size: 30px;
    border-bottom: 2px solid rgb(0, 0, 0);
    width: 200px;
    text-align: center;
    margin-top: 20px;
    margin-left: 110px;
}

.flexbox {
    text-align: center;
    margin-left: 30px;
    width: 100%;
}

.Product {
    margin-top: 20px;
    margin-bottom: 20px;
}

#ProductName {
    font-size: 25px;
}

#Description {
    border-bottom: 2px solid rgb(0, 0, 0);
    margin-left: 80px;
    width: 200px;
}

#Explanation {
    text-align: left;
    display: inline-block;
}

#br::before {
    content: "\A";
    white-space: pre;
}

#purchase {
    width: 119px;
    height: 28px;
    /* margin-left: 70px; */
    border-radius: 23px 23px 23px 23px;
    background-color: #2E8B57;
    color: #FFFFFF;
    box-shadow: none;
}

#ProductFeatures {
    margin-top: 20px;
    margin-bottom: 20px;
}

#subPhoto {
    text-align: center;
    margin-left: 50px;
}

#subPhoto img {
    border-radius: 42px 42px 42px 42px;
    width: 250px;
}

#text {
    text-align: center;
    text-align: left;
    margin-left: 50px;
    width: 320px;
    margin-top: 20px;
}

footer {
    background-color: #A1BFA1;
    width: 420px;
    margin-top: 20px;
}

footer p {
    position: absolute;
    padding-left: 10%;
    padding-top: 6%;
    color: #FFFFFF;
    font-size: 14px;
}

footer img {
    /* display: flex; */
    width: 40px;
    margin-top: 80px;
    margin-left: 10px;
}

#Insuta {
    margin-left: 20px;
    padding-left: 250px;
}