* {
    margin: 0;
    padding: 0;
}

header {
    background-image: url(../img/mobail.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 640px;
    /* background-size: cover;
    padding-bottom: 50.2%; */
}