* {
    margin: 0;
    padding: 0;
}

header {
    background-image: url(../img/mobail.jpg);
    background-size: cover;
    padding-bottom: 52.2%;
}

#title1 {
    position: absolute;
    padding-left: 10%;
    padding-top: 3%;
    color: #FFFFFF;
    font-size: 30px;
}

#title2 {
    position: absolute;
    padding-left: 30%;
    padding-top: 28%;
    font-size: 30px;
    color: #FFFFFF;
}

.Heading {
    text-align: center;
    margin-top: 4%;
    font-size: 30px;
    border-bottom: 2px solid rgb(0, 0, 0);
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}


/* #Product {} */

#main {
    /* background: #fcc; */
    margin-bottom: 10px;
}

#side {
    background: rgb(226, 124, 124);
    margin-bottom: 10px;
}

#main {
    margin-left: 300px;
    margin-top: 90px;
}

.side {
    margin-left: 300px;
    margin-top: 90px;
}

.flexbox {
    display: -webkit-flex;
    display: flex;
}

.Product {
    padding-bottom: 50px;
    font-size: 20px;
}

#tax {
    margin-right: 13px;
}

#int {
    font-weight: bold;
}

body p {
    margin-right: 300px;
}

#Description {
    padding-top: 50px;
    margin-bottom: 32.5px;
    border-bottom: 2px solid rgb(0, 0, 0);
    width: 340px;
    font-weight: lighter
}

#buttonChange {
    /* background-color: rgb(149, 149, 176); */
    display: flex;
    margin-top: 10px;
}

#minus {
    font-size: 30px;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    margin-right: 20px;
}

#count {
    width: 45px;
}

#plus {
    font-size: 30px;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    margin-left: 20px;
}

#purchase {
    width: 220px;
    margin-left: 70px;
    border-radius: 23px 23px 23px 23px;
    background-color: #2E8B57;
    color: #FFFFFF;
    box-shadow: none;
}

#subPhoto {
    margin-top: 30px;
    text-align: center;
}

#subPhoto img {
    border-radius: 42px 42px 42px 42px;
    width: 600px;
}

#text {
    text-align: center;
    margin-left: 120px;
    margin-top: 30px;
    margin-bottom: 50px;
}

#message {
    margin-right: 90px;
}

footer {
    background-color: #A1BFA1;
}

footer p {
    position: absolute;
    padding-left: 10%;
    padding-top: 3%;
    color: #FFFFFF;
    font-size: 30px;
}

footer img {
    width: 70px;
    padding-top: 150px;
    margin-left: 20px;
}

#Insuta {
    margin-left: 85%;
}

@media screen and (max-width:900px) {
    header {
        background-image: url(../img/mobail.jpg);
        background-repeat: no-repeat;
        width: 600px;
        height: 150px;
    }
    #title1 {
        color: rgb(255, 255, 255);
        margin: 0px;
        padding: 0px;
        font-size: 14px;
        margin-top: 20px;
        margin-left: 30px;
    }
    #title2 {
        color: rgb(255, 255, 255);
        margin: 0px;
        padding: 0px;
        font-size: 14px;
        margin-top: 38%;
        margin-left: 48%;
    }
}