* {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 560px) {
    /*このサイズより下がcss適用*/
    header {
        background-image: url(../img/mobail.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 200px;
        padding: 5% 5%;
    }
    header p {
        color: white;
    }
    #Catchphrase {
        text-align: center;
        /* padding-top: 10%; */
        padding-top: 15%;
    }
    #detail {
        width: 90%;
        margin: 0 auto;
    }
    main h2 {
        text-align: center;
        border-bottom: solid;
        border-width: 2px;
        width: 35%;
        margin: 30px auto;
    }
    main #Product {
        width: 50%;
        height: 300px;
        background-image: url(../img/Product.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        margin: 0 auto;
    }
    dd {
        text-align: center;
        padding: 15px 0;
    }
    .Quantity {
        background: none;
        border: none;
        font-size: 60px;
    }
    #fex {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    #minus {
        padding-bottom: 10px;
    }
    #br {
        text-align: center;
    }
    #br button {
        width: 200px;
        padding: 5px;
        background-color: green;
        color: white;
        border-radius: 20px;
        border: none;
    }
    footer {
        background-color: #A1BFA1;
        padding: 20px 0 10px;
    }
    footer p {
        color: white;
    }
    footer img {
        width: 50px;
    }
    #footer_contents {
        width: 90%;
        margin: 0 auto;
    }
    #sns {
        text-align: right;
    }
}